<a href="https://colab.research.google.com/github/angelynafaa/DATAMINING/blob/main/Pattern_FPGrowth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
upload = files.upload()

Saving movie.csv to movie.csv

In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
data=pd.read_csv('movie.csv')

In [ ]:
data.fillna(value=0,axis=1,inplace=True)
data.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4      0        Doug Walker  ...          0.00                     0

[5 rows x 28 columns]

In [ ]:
data.drop(['duration', 'actor_3_facebook_likes', 'actor_2_facebook_likes', 'actor_1_facebook_likes', 'movie_imdb_link' , 'country', 'movie_facebook_likes', 'budget', 'title_year'], axis=1, inplace=True)

In [ ]:
data.drop(['aspect_ratio'], axis=1, inplace=True)

In [ ]:
data.drop(['color', 'num_critic_for_reviews', 'director_facebook_likes', 'gross', 'num_voted_users' , 'cast_total_facebook_likes', 'facenumber_in_poster', 'plot_keywords', 'num_user_for_reviews', 'language', 'content_rating'],axis=1,inplace=True)

In [ ]:
data.head()

       director_name      actor_2_name  ...          actor_3_name imdb_score
0      James Cameron  Joel David Moore  ...             Wes Studi        7.9
1     Gore Verbinski     Orlando Bloom  ...        Jack Davenport        7.1
2         Sam Mendes      Rory Kinnear  ...      Stephanie Sigman        6.8
3  Christopher Nolan    Christian Bale  ...  Joseph Gordon-Levitt        8.5
4        Doug Walker        Rob Walker  ...                     0        7.1

[5 rows x 7 columns]

In [ ]:
data.shape

(5043, 7)

In [ ]:
DatasetMovie=[]
for x in range(0,1000):
    DatasetMovie.append([str(data.values[x,y]) for y in range(0,7)])

In [ ]:
DatasetMovie[:1]

[['James Cameron',
  'Joel David Moore',
  'Action|Adventure|Fantasy|Sci-Fi',
  'CCH Pounder',
  'Avatar\xa0',
  'Wes Studi',
  '7.9']]

In [ ]:
def getReccomendation(r):
    for x in range(0,1000):
      if (DatasetMovie)[x][3] == r[3] or (DatasetMovie)[x][2] == r[0] or (DatasetMovie)[x][2] == r[2]:
        if DatasetMovie[x][4] != r[4]:
          return DatasetMovie[x]
        else:
          return random.choice(DatasetMovie)
      else: 
        return random.choice(DatasetMovie)

In [ ]:
movieRiwayat=[]
userRiwayat=[]
for x in range(0,1000):
    firtsMovie = (random.choice(DatasetMovie))
    userRiwayat.append([])
    movieRiwayat.append([])
    movieRiwayat[x].append(getReccomendation(firtsMovie))
    for y in range(0,10):
      movieRiwayat[x].append(getReccomendation(movieRiwayat[x][y]))
      userRiwayat[x].append(movieRiwayat[x][y][4].replace(u'\xa0', u''))

In [ ]:
userRiwayat[:1]

[['Bullet to the Head',
  'Monsters University',
  'Up',
  'After the Sunset',
  'Terminator Genisys',
  'Any Given Sunday',
  'The Lord of the Rings: The Fellowship of the Ring',
  'Anger Management',
  'Me, Myself & Irene',
  'Shaft']]

In [ ]:
pip install pyfpgrowth

Collecting pyfpgrowth
  Downloading https://files.pythonhosted.org/packages/d2/4c/8b7cd90b4118ff0286d6584909b99e1ca5642bdc9072fa5a8dd361c864a0/pyfpgrowth-1.0.tar.gz (1.6MB)
     |████████████████████████████████| 1.6MB 5.4MB/s
Building wheels for collected packages: pyfpgrowth
  Building wheel for pyfpgrowth (setup.py) ... done
  Created wheel for pyfpgrowth: filename=pyfpgrowth-1.0-py2.py3-none-any.whl size=5479 sha256=ee703365fa67e655144957cccf93190083c6c2c38eb2874438ee7f6f77b9370a
  Stored in directory: /root/.cache/pip/wheels/3b/3f/0d/a04bb8b17887c1eca7d0f1a48d4aa0c09c96eb221ff7fa56c1
Successfully built pyfpgrowth
Installing collected packages: pyfpgrowth
Successfully installed pyfpgrowth-1.0

In [ ]:
import pyfpgrowth

In [ ]:
transactions = userRiwayat
sup = 0.003  # float(input("Enter support %: "))
patterns = pyfpgrowth.find_frequent_patterns(transactions, int(len(transactions) * sup))
print(len(patterns))
rules = pyfpgrowth.generate_association_rules(patterns, 0.2)
print(rules)
print(len(rules))

In [ ]:
rekomendasi=[]
for x,y in rules.items():
  rekom=[]
  rekom.append(x)
  rekom.append(y[0])
  rekom.append(y[1])

  rekomendasi.append(rekom)
  rules_df=pd.DataFrame(rekomendasi,columns=['Movie','Rekomendasi','Confidence'])
rules_df

                                         Movie  ... Confidence
0                  (The Amazing Spider-Man 2,)  ...   0.800000
1                                      (Epic,)  ...   0.375000
2   (Harry Potter and the Chamber of Secrets,)  ...   0.500000
3                                      (Noah,)  ...   0.214286
4                           (What Women Want,)  ...   0.500000
..                                         ...  ...        ...
82                             (Crimson Tide,)  ...   0.214286
83                           (Now You See Me,)  ...   0.200000
84                            (Elizabethtown,)  ...   0.200000
85                       (The Simpsons Movie,)  ...   0.200000
86                     (Crazy, Stupid, Love.,)  ...   0.250000

[87 rows x 3 columns]

In [ ]:
df=pd.DataFrame(userRiwayat)
df['Items'] = df[df.columns[:]].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1
)
df.drop(df.columns[0:6],axis=1)

def support_count(sup):  
    count=0
    sup1=set(str(sup))
    sup1.remove("'")
    sup1.remove('(')
    sup1.remove(')')
    sup1.discard(' ')
    for j in df['Items']:
        j=set(j)
        if(sup1.issubset(j)):
            count=count+1
    return count
support=[]
for i in rules_df['Rekomendasi']:
    a=support_count(i)
    support.append(a/len(df))
rules_df['support']=support

In [ ]:
rules_df['lift']=rules_df['Confidence']/rules_df['support']

In [ ]:
rules_df[(rules_df['lift'] >= 1.2) &
(rules_df['Confidence'] >= 0.8) & (rules_df['Confidence'] >=0.3)]
rules_df

                                         Movie  ... support
0                  (The Amazing Spider-Man 2,)  ...   0.505
1                                      (Epic,)  ...   0.093
2   (Harry Potter and the Chamber of Secrets,)  ...   0.415
3                                      (Noah,)  ...   0.728
4                           (What Women Want,)  ...   0.379
..                                         ...  ...     ...
82                             (Crimson Tide,)  ...   0.000
83                           (Now You See Me,)  ...   0.100
84                            (Elizabethtown,)  ...   0.043
85                       (The Simpsons Movie,)  ...   0.505
86                     (Crazy, Stupid, Love.,)  ...   0.505

[87 rows x 7 columns]

In [ ]:
rules_df.to_csv('FPGROWTH')